<?xml version="1.0"?>

<launch>
    <!-- use sim time-->
    <param name="use_sim_time" value="true" />

    <arg name="node_start_delay" default="1.0" />
    <node pkg="rosbag" type="play" name="player"
        args="--clock --hz=1000  -s 4 $(find cerberus2)/../../bags/230628_mill19/230628-mil19-trot-07-039-wild1445.bag" />

    <node name="mipo_main" pkg="cerberus2"
        type="mipo_main"
        output="screen"
        launch-prefix="zsh -c 'sleep $(arg node_start_delay); $0 $@' " />
</launch>