<?xml version="1.0"?>

<launch>
    <!-- use sim time-->
    <param name="use_sim_time" value="true" />

    <arg name="node_start_delay" default="5.0" />


    <node pkg="rosbag" type="play" name="player" required="true"
        launch-prefix="zsh -c 'sleep $(arg node_start_delay); $0 $@' "
       args="--clock --hz=2000  -s 10 $(find cerberus2)/../../bags/230628_mill19/230628-mil19-trot-07-039-wild1445.bag" />


    <!-- cerberus2 config -->
    <arg name="vilo_config_file"
        value="$(find cerberus2)/config/go1_config/hardware_go1_vilo_config.yaml" />


    <node name="cerberus2_main" pkg="cerberus2"
        args="$(arg vilo_config_file)"
        type="cerberus2_main"
        output="screen" />


    <!-- for visualization -->
    <node pkg="tf" type="static_transform_publisher" name="base_to_robot"
        args="-0.0 0.0 -0.0 0.0 0.0 0.0 /robot /base  1000" />
    <!-- visualization using robot description -->
    <param name="robot_description" textfile="$(find cerberus2)/urdf/a1_description/urdf/a1.urdf" />
    <remap from="/joint_states" to="/vis_joint_state" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>