<?xml version="1.0"?>

<launch>
    <!-- use sim time-->
    <param name="use_sim_time" value="true" />

    <arg name="node_start_delay" default="2.0" />


    <node pkg="rosbag" type="play" name="player" required="true"
        launch-prefix="zsh -c 'sleep $(arg node_start_delay); $0 $@' "
        args="--clock --hz=2000  $(find cerberus2)/bags/legged_robots/20230304_wightman_park_trot_bridge_loop.bag" />


    <!-- cerberus2 config -->
    <arg name="vilo_config_file"
        value="$(find cerberus2)/config/go1_config/hardware_go1_vilo_config.yaml" />


    <node name="cerberus2_main" pkg="cerberus2"
        args="$(arg vilo_config_file)"
        type="cerberus2_main"
        output="screen" />
</launch>